.language-container {
  .dropdown {
    .language-text {
      cursor: pointer;
      font-size: 1.2rem;
      .flag-icon {
        // background-image: url("../../assets/images/vi-flag.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .dropdown-menu {
      border: 1px solid #ccc !important;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
      .dropdown-item {
        cursor: pointer;
      }
    }
  }
}
